In [2]:
import torch
import torch.nn as nn
import pandas as pd
from graphs.graphs import *

In [146]:
df = pd.DataFrame({'x':[20,4,10,2],'y':[1,5,1,3],'z':[1,5,1,6]})
df.div(df.max(axis = 1), axis = 0)

          x     y     z
0  1.000000  0.05  0.05
1  0.800000  1.00  1.00
2  1.000000  0.10  0.10
3  0.333333  0.50  1.00

In [ ]:
std = corr_mat.std(axis = 1)
corr_mat = corr_mat.subtract(corr_mat.mean(axis = 1), axis = 0)
corr_mat = corr_mat.div(std, axis = 0)

In [18]:
from utils import *
df = pd.read_csv("./data/sp500/affMat.csv", index_col=0)

In [23]:
graph = prepare_adj(df, method = 'nnlsw', sig = 1, alpha = 0.5, delta = 20)